@media screen and (max-width: 360px) {
  .svg-img {
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .svg-img {
    width: 100%;
  }

  .hero {
    &-img {
      margin: 0 auto;
    }

    &-left-panel {
      text-align: initial;
    }

    &-link {
      align-self: flex-start;
    }
  }
}

@media screen and (min-width: 768px) {
  .l-gap-1,
  .l-gap-2 {
    gap: 2rem;
  }

  .header-group {
    justify-content: flex-start;
    gap: 2.84rem;
  }

  .nav {
    display: flex;
    align-items: center;
    width: 100%;

    &-list {
      flex-direction: row;
      align-items: center;
    }

    &-list.l-gap-2 {
      margin-left: auto;
    }

    &-link {
      color: unset;
    }

    &-toggle,
    &-divider {
      display: none;
    }
  }

  .hero {
    padding: 1rem 0 5rem;

    &-group {
      flex-direction: row;
      align-items: center;
    }

    &-img {
      order: 1;
      margin-right: -10rem;
    }
  }

  .form {
    flex-direction: row;
    padding: 3.25rem 4rem;
    gap: 1.5rem;

    &-bg-img {
      &-mobile {
        display: none;
      }

      &-desktop {
        display: block;
      }
    }

    &-input-text {
      height: 4rem;
      padding-left: 2rem;
    }

    &-submit-button {
      flex-basis: 11.75rem;
      height: 4rem;
      padding: 0 2.5rem;
    }
  }

  .call-to-action {
    padding: 3.56rem 0;
    
    &-bg-img {
      &-mobile {
        display: none;
      }

      &-desktop {
        display: block;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .l-container {
    width: 968px;
    margin: 0 auto;
  }

  .hero {
    padding: 3rem 0 9rem;

    &-title {
      margin-bottom: 0.3rem;
    }
  }
}

@media screen and (min-width: 1200px) {
  .l-container {
    width: 992px;
  }

  .hero {
    &-group {
      gap: 4rem;
    }

    &-img {
      width: 78rem;
      margin-right: -16rem;
    }
  }

  .advanced-statistics {
    &-bottom-panel {
      flex-direction: row;
      gap: 1.87rem;
    }

    &-card {
      &:nth-child(3) {
        margin-top: 2.75rem;
      }

      &:nth-child(4) {
        margin-top: 5.5rem;
      }

      &-icon {
        right: unset;
        left: 2rem;
      }

      &-title,
      &-description {
        text-align: initial;
      }

      &-divider {
        height: 8px;
        width: 985px;
        margin: auto 0;
        bottom: 0;
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  .l-container {
    width: auto;
  }

  .hero {
    padding-top: 3.5rem;

    &-group {
      gap: 6rem;
    }

    &-img {
      width: 83rem;
      margin-right: -17.7rem;
    }
  }
}
