@media screen and (max-width: 360px) {
  .svg-img {
    width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .svg-img {
    width: 100%;
  }

  .hero {
    &-img {
      margin: 0 auto;
      width: 30rem;
    }

    &-left-panel {
      text-align: initial;
    }

    &-link {
      align-self: flex-start;
    }
  }
}

@media screen and (min-width: 768px) {
  .header-group {
    justify-content: flex-start;
    gap: var(--space-header-group);
  }

  .nav {
    display: flex;
    align-items: center;
    width: 100%;

    &-list {
      flex-direction: row;
      align-items: center;

      &:nth-child(1),
      &:nth-child(3) {
        gap: var(--space-nav-list);
      }

      &:nth-child(3) {
        margin-left: auto;
      }
    }

    &-link {
      color: unset;
    }

    &-toggle,
    &-divider {
      display: none;
    }
  }

  .hero {
    padding: var(--space-hero-section);

    &-img {
      width: 35rem;
    }
  }

  .form {
    flex-direction: row;
    padding: var(--space-form-section);
    gap: var(--space-form-group);

    &-bg-img {
      &-mobile {
        display: none;
      }

      &-desktop {
        display: block;
      }
    }

    &-input-text {
      height: var(--form-input-height);
      padding-left: calc(32 / var(--font-base) * 1rem);
    }

    &-submit-button {
      flex-basis: 11.75rem;
      height: var(--form-input-height);
      padding: var(--form-button-padding);
    }
  }

  .link {
    --flex-direction: row;
    --gap: 1.5rem;

    align-items: center;
    justify-content: space-between;
    padding-left: calc(32 / var(--font-base) * 1rem);

    &-group {
      margin-top: unset;
      gap: var(--space-link-group);
    }

    &-bottom-panel {
      align-items: center;
    }

    &-divider {
      display: none;
    }

    &-copy-button {
      width: var(--copy-button-width);
      height: var(--copy-button-height);
    }
  }

  .call-to-action {
    padding: var(--space-call-to-action-section);
    gap: var(--space-call-to-action-group);

    &-bg-img {
      &-mobile {
        display: none;
      }

      &-desktop {
        display: block;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .l-container {
    width: 968px;
    margin: 0 auto;
  }

  .hero {
    &-group {
      flex-direction: row;
      align-items: center;
    }

    &-img {
      order: 1;
      width: 60rem;
      margin-right: -10rem;
    }

    &-title {
      margin-bottom: var(--space-hero-title);
    }

    &-secondary-text {
      width: 80%;
    }
  }
}

@media screen and (min-width: 1200px) {
  .l-container {
    width: 992px;
  }

  .hero {
    &-group {
      gap: 4rem;
    }

    &-img {
      width: 78rem;
      margin-right: -16rem;
    }

    &-secondary-text {
      width: unset;
    }
  }

  .advanced-statistics {
    padding: var(--space-advanced-statistics-section);

    &-top-panel {
      margin-top: calc(102 / var(--font-base) * 1rem);
      margin-bottom: calc(56 / var(--font-base) * 1rem);
    }

    &-bottom-panel {
      flex-direction: row;
      gap: var(--space-advanced-statistics-group);
      height: var(--cards-container-height);
    }

    &-card {
      padding: var(--card-padding);
      height: initial;

      &:nth-child(2) {
        margin-bottom: calc(52.8 / var(--font-base) * 1rem);
      }

      &:nth-child(3) {
        margin-top: calc(40 / var(--font-base) * 1rem);
      }

      &:nth-child(4) {
        align-self: flex-end;
        margin-bottom: calc(8 / var(--font-base) * 1rem);
      }

      &-icon {
        right: unset;
        left: calc(32 / var(--font-base) * 1rem);
      }

      &-title,
      &-description {
        text-align: initial;
      }

      &-divider {
        height: 8px;
        width: 985px;
        margin: auto 0;
        bottom: 0;
      }
    }
  }

  .footer {
    &-logo {
      margin-bottom: unset;
    }

    &-group {
      grid-template-columns: 2fr repeat(4, 1fr);
      justify-items: initial;
      text-align: initial;
    }

    &-content {
      margin-bottom: unset;

      &:nth-child(3) {
        margin-left: 1rem;
      }

      &:nth-child(4) {
        margin-left: 2rem;
      }

      &:nth-child(5) {
        justify-self: end;
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  .l-container {
    width: auto;
  }

  .hero {
    padding-top: 3.5rem;

    &-group {
      gap: 6rem;
    }

    &-img {
      width: 83rem;
      margin-right: -17.7rem;
    }
  }

  .advanced-statistics {
    &-card {
      height: 16.6875rem;
    }
  }
}
