.styled-link {
  background: var(--color-primary-cyan);
  font-weight: var(--font-weight-bold);
  border-radius: var(--border-radius-l);
  padding: 0.5rem 1.5rem;
  color: var(--color-neutral-white) !important;
}

.link-l {
  padding: 0.8rem 2.5rem;
  font-size: var(--font-size-get-started-link);
}
