.button {
  background-color: var(--color-primary-cyan);
  color: var(--color-neutral-white);
  font-weight: var(--font-weight-bold);
  border: none;

  &:hover {
    background-color: var(--color-primary-cyan-light);
  }
}

.button-link {
  @extend .button;
  border-radius: var(--border-radius-l);
  padding: 0.5rem 1.5rem;
}

.button-submit {
  @extend .button;
  width: 100%;
  font-size: var(--font-size-shorten-button);
  border-radius: var(--border-radius-form-input);
  height: 3rem;
}

.button-copy {
  @extend .button;
  width: 100%;
  font-size: var(--font-size-copy-button);
  border-radius: var(--border-radius-xs);
  height: 2.5rem;
}

.button-copy.is-pressed {
  background-color: var(--color-primary-dark-violet);
}

.button-large {
  padding: 0.8rem 2.5rem;
  font-size: var(--font-size-get-started-link);
}
